*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style-type: none;
}
body{
    display: flex;
    justify-content: center;
}
.container{
    width: 420px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.headAndBtn{
    display: flex;
    flex-direction: row;
}
.head{
    width: 341px;
    height: 43px;
    padding: 16px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
    display: block;
    margin: auto;
}
label span{
    position: relative;
    top: -66px;
    right: -3px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 8px;
    border-style: dashed dashed solid;
    border-color: transparent transparent #c2c2c2;
    transition: all 0.03 linear;
}
label span:hover{
    top: -36px;
    border-style: solid dashed dashed;
    border-color: #c2c2c2 transparent transparent;
}
.input_content{
    position: relative;
    width: 300px;
    height: 35px;
    border: 0;
    padding: 15px 0 0 12px;
    line-height: 8px;
    font-size: 20px;
    color: #4d4d4d;
    font-weight: 300;
}
.sortbtn{
    display: inline-flex;
    margin-top: 2rem;
}
.add,.des{
    width: 50px;
    height: 35px;
    margin: 1rem;
    border: 0;
    font-size: 16px;
    color: #4d4d4d;
    font-weight: 300;
    background: rgba(0, 0, 0, 0.03);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}
/* 设置弹出框样式 */
#maskBody{
    position: absolute;
    top: 0;
}
.show_mask{
    width: 100vw;
    height:100vh;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex:auto;
    top:0;
    z-index:99;
    justify-content:center;
    align-self:flex-start;
    flex-direction:column;
    align-items:center;
}
.show_mask .alertBox{
    width: 350px;
    height:250px;
    border:1px solid #ccc;
    background:#fff;
    display:flex;
    flex:initial;
    justify-content:center;
    z-index:1000;
    align-items:center;
    flex-direction:column;
    display:block;
}

.text_confirm{
    width: 77%;
    margin: 5rem 2rem 2rem 4rem;
}
.text{
    width: 89%;
    height: 30px;
    text-align: center;
    border:none;
}
.btnGroup{
    width:77%;
    margin-top:10px;
    margin-left:3rem;
    display:flex;
    justify-content:space-between;
}
.hidden_mask{
    display:none;
}
li:nth-child(even){
    background:#eee;
}
.delete{
    text-decoration:line-through;
    display:block;
    position:relative;
    width:350px;
    height:43px;
    line-height:40px;
    padding:0 0 0 20px;
}
.li_item{
    width:350px;
    height:40px;
    display:block;
    padding:0 0 0 20px;
    border:1px solid rgba(0, 0, 0, 0.03);
    line-height: 40px;
}
.main{
    margin-top:-11px;
    width:100%;
    /* margin-top:-30px; */
    height: 100px;
    border: 1px solid red;
}
.main ul{
    display: flex;
    flex:initial;
    flex-direction:column;
    height:auto;
}
/* input[type=checkbox]:checked + .main{
    max-height:0;
    transition:2s all;
    opacity:0;
}
input[type=checkbox] + .main{
    opacity:1;
    max-height:1000px;
    transition:2s max-height;
} */
input[type="checkbox"]:checked + #listContainer{
    /* height: 0;
    max-height: 0;
    transition: 2s max-height;
    opacity: 0; */
    opacity: 1;
    height: auto;
    max-height: 1000px;
    transition: 4s max-height;
}

input[type="checkbox"] + #listContainer{
     /* height: 0;
    max-height: 0;
    transition: 4s max-height;
    opacity: 0; */
    max-height: 0;
    opacity: 0;
    transition: 2s all;
    
}